<!DOCTYPE html>
<html lang="en">
<head>
    <title>Critical Mass Hamburg</title>

    <meta name="description" content="Die Critical Mass Hamburg ist jeden letzten Freitag im Monat mit einer Radtour in Hamburg unterwegs." />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ asset('/css/criticalmass.min.css') }}" />

    <meta property="og:url" content="https://criticalmass.hamburg/" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="de_DE" />
    <meta property="og:title" content="Critical Mass Hamburg" />
    <meta property="og:description" content="Die Critical Mass Hamburg ist jeden letzten Freitag im Monat mit einer Radtour in Hamburg unterwegs." />
    <meta property="og:image" content="https://criticalmass.hamburg/img/opengraph/preview.jpg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@cm_hh" />
    <meta name="twitter:title" content="Critical Mass Hamburg" />
    <meta name="twitter:description" content="Die Critical Mass Hamburg ist jeden letzten Freitag im Monat mit einer Radtour in Hamburg unterwegs." />
    <meta name="twitter:image" content="https://criticalmass.hamburg/img/opengraph/preview.jpg" />
</head>
<body>
<a href="https://github.com/criticalmass-hamburg/website" class="d-none d-md-inline">
    <img id="github-ribbon" src="/img/github/tr-red.png" alt="Fork me on GitHub" />
</a>

<div class="container">
    <div class="row mb-3">
        <div class="col-12 col-lg-7 mt-3 order-lg-2 text-center">
            <small class="d-inline-block d-lg-none">
                Anzeige
            </small>
            <br class="d-lg-none" />
            <small class="advertising-rotate d-none d-lg-inline-block">
                Anzeige
            </small>
            <ins data-revive-zoneid="13" data-revive-id="41009926173ca0d1c900a7dc0a6dd401"></ins>
            <script async src="//adserver.caldera.cc/delivery/asyncjs.php"></script>
        </div>

        <div class="col-12 col-lg-5 mt-3 order-lg-1 text-center">
            <h1>
                <a href="{{ path('frontpage') }}">
                    Critical Mass Hamburg
                </a>
            </h1>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <div class="row mt-3">
        <div class="col-12 text-center">
            <div class="btn-group">
                <a href="{{ path('impress') }}" class="btn btn-link">
                    Impressum
                </a>
                <a href="{{ path('privacy') }}" class="btn btn-link">
                    Datenschutz
                </a>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('/js/jquery.js') }}"></script>
<script src="{{ asset('/js/bootstrap.js') }}"></script>

<script src="{{ asset('/js/require.js') }}"></script>
<script src="{{ asset('/js/CriticalMass.js') }}"></script>

<script>
    CriticalMass.loadModule('Ride', 'tour-map');
</script>
</body>
</html>
