{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div id="criticalmass-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#criticalmass-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#criticalmass-carousel" data-slide-to="1"></li>
                    <li data-target="#criticalmass-carousel" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="/img/carousel/header1.jpg" alt="{{ 'carousel.caption.header1'|trans }}" />
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="/img/carousel/header2.jpg" alt="{{ 'carousel.caption.header2'|trans }}" />
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="/img/carousel/header3.jpg" alt="{{ 'carousel.caption.header3'|trans }}" />
                    </div>
                </div>

                <a class="carousel-control-prev" href="#criticalmass-carousel" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">{{ 'carousel.navigation.prev'|trans }}</span>
                </a>

                <a class="carousel-control-next" href="#criticalmass-carousel" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">{{ 'carousel.navigation.next'|trans }}</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <p class="lead">
                {{ 'intro'|trans }}
            </p>
        </div>
    </div>

    <div class="row">
        {% if ride and ride.dateTime and ride.location %}
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-center">
                            {{ 'block.participate.title'|trans }}
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p>
                            Die Critical Mass Hamburg trifft sich immer am letzten Freitag im Monat gegen <strong>{{ ride.dateTime|date('H.i', 'Europe/Berlin') }} Uhr</strong>.
                        </p>

                        <p>
                            Die nächste Tour ist am <strong>{{ ride.dateTime|date('d.m.Y') }}</strong>.
                        </p>

                        <p>
                            Der Treffpunkt ist dieses Mal: <strong>{{ ride.location }}</strong>
                        </p>

                        <div class="text-center">
                            <div class="btn-group">
                                <a href="https://criticalmass.in/hamburg" class="btn btn-primary">
                                    <i class="fa fa-bicycle"></i>
                                    Mehr erfahren
                                </a>

                                <a href="https://criticalmass.in/hamburg/{{ ride.dateTime|date('Y-m-d') }}" class="btn btn-primary">
                                    <i class="fa fa-map-pin"></i>
                                    Tourseite
                                </a>
                            </div>
                        </div>

                        <p class="text-center">
                            <small>
                                (Hoppla, die Angaben stimmten nicht?
                                <br />
                                Du kannst sie <a href="https://criticalmass.in/hamburg/{{ ride.dateTime|date('Y-m-d') }}">selbst korrigieren</a>.)
                            </small>
                        </p>
                    </div>

                    <div class="col-12 col-md-8 mt-3 mt-md-0" style="height: 200px;">
                        <div class="hidden show-after-load" id="tour-map" style="height: 100%;" data-latitude="{{ ride.latitude }}" data-longitude="{{ ride.longitude }}">

                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12 col-md-6 col-lg-4 mt-3">
                <h3 class="text-center">
                    {{ 'block.participate.title'|trans }}
                </h3>

                <p>
                    Die Critical Mass Hamburg trifft sich immer am letzten Freitag im Monat gegen <strong>19 Uhr</strong>.
                </p>

                <p>
                    Weitere Details sind momentan leider nicht bekannt — wenn du den Treffpunkt der nächsten Tour kennst, füge ihn bitte drüben bei <a href="https://criticalmass.in/hamburg">criticalmass.in/hamburg</a> hinzu, er wird dann automatisch hierher übertragen.
                </p>
            </div>
        {% endif %}

        <div class="col-12 col-md-6 col-lg-4 mt-3">
            <h3 class="text-center">
                {{ 'block.join.title'|trans }}
            </h3>

            <p>
                {{ 'block.join.text'|trans }}
            </p>

            <div class="text-center mt-2">
                <div class="btn-group">
                    <a href="https://facebook.com/cmhamburg" class="btn btn-primary">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        facebook
                    </a>
                    <a href="https://twitter.com/cm_hh" class="btn btn-primary">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        twitter
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mt-3">
            <h3 class="text-center">
                {{ 'block.help.title'|trans }}
            </h3>

            <p>
                {{ 'block.help.text'|trans }}
            </p>

            <div class="text-center mt-2">
                <div class="btn-group">
                    <a href="https://www.facebook.com/groups/CMHH.Diskussion/" class="btn btn-primary">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Diskussionsgruppe
                    </a>
                    <a href="https://twitter.com/hashtag/cmhh,cm_hh" class="btn btn-primary">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        #cmhh
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mt-3">
            <h3 class="text-center">
                {{ 'block.take_a_look.title'|trans }}
            </h3>

            <p>
                {{ 'block.take_a_look.text'|trans }}
            </p>

            <div class="text-center mt-2">
                <div class="btn-group">
                    <a href="https://www.youtube.com/results?search_query=Critical+Mass+Hamburg" class="btn btn-primary">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                        Videos
                    </a>

                    <a href="https://www.flickr.com/search/?text=Critical%20Mass%20Hamburg" class="btn btn-primary">
                        <i class="fa fa-flickr" aria-hidden="true"></i>
                        Fotos
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mt-3">
            <h3 class="text-center">
                {{ 'block.follow.title'|trans }}
            </h3>

            <p>
                {{ 'block.follow.text'|trans }}
            </p>

            <div class="text-center mt-2">
                <div class="btn-group">
                    <a href="http://criticalmaps.net/" class="btn btn-primary">
                        Critical Maps
                    </a>

                    <a href="https://itunes.apple.com/de/app/critical-mass-berlin/id918669647" class="btn btn-primary">
                        <i class="fa fa-apple" aria-hidden="true"></i>
                    </a>

                    <a href="https://play.google.com/store/apps/details?id=de.stephanlindauer.criticalmaps" class="btn btn-primary">
                        <i class="fa fa-android" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mt-3">
            <h3 class="text-center">
                {{ 'block.reconstruction.title'|trans }}
            </h3>

            <p>
                {{ 'block.reconstruction.text'|trans }}
            </p>

            <div class="text-center mt-2">
                <div class="btn-group">
                    <a href="https://github.com/criticalmass-hamburg/website" class="btn btn-primary">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
